/* Nav bar */

.nav-list {                             /* nav container */
    background-color: #1F2937;
    margin: 0;
    padding: .5rem 7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: solid #1F2937;    
}

.nav-item {                             /* nav child */
    list-style: none;
    margin: 2rem;
}

.nav-item a {                          /* nav a tag */
    text-decoration: none;
    color: #E5E7EB;
    margin:1rem;
    font-size: 18px;
}

.nav-item:first-child {                 /* goggins logo */
    margin-right: auto;
    margin-left: 1rem;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Call to Action */

.calltoaction {                             /* call to action container */
    background-color: #1F2937;
    border: solid #1F2937;
    margin: 0;
    padding: .5rem 7rem 7rem 7rem;
    display: flex;
}

.goggins {                                  /* goggins images */ 
    margin: 0 3rem 0 5rem;
    display: flex;
    gap: 3rem;
    overflow: hidden;
}

.goggins > img {                            /* all children in parent goggins min-width 50% */
    min-width: 50%;
}

.unleash {                          /* h1 and p elements container */
    margin: 0 2rem;
}

button {                                        /* button to sign up */
    height: 50px;
    width: 100px;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #094e83;
    cursor: pointer;
}

h1 {                                           
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

h3 {
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 1.5;
}

/* information and images section */

.info {                                                 /* information container section */
    background-color: white;
    margin: 0;
    padding: .5rem 7rem 7rem 7rem;
}

.images {                                               /* images container */
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: solid black;
    overflow: hidden;
}

.images > img {                                         /* children of images container (the actual img's) */
    min-width: 25%;
    height: 450px;
}

h2 {                    
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.descriptions {                                         /* container for paragraph tags */
    display: flex;
    border: solid black;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.descriptions > p {                                     /* paragraph tags in the container */
    color: black;
    font-size: 18px;
    margin: 1rem;
}

/* quote section */

.quotation {                                            /* quotation section container */
    background-color: #E5E7EB;
    margin: 0;
    padding: 12rem;
    display: flex;
}

.quote > p {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.quote > h4 {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    margin-right: 5rem;
}

/* reminder to sign up section */

.remindertojoin {                                           /* remindertojoin container */
    background-color: white;
    margin: 0;
    padding: 12rem;
    display: flex;
    justify-content: center;

}

.signup {
    background-color: #3882F6;
    width:1000px;
    height: auto;
    border-radius: 10px;
    border: solid pink;
    display: flex;
    flex-direction: row;
}

.signupwords > h1 {
    color: white;
    font-size: 18px;
    padding: 3rem 3rem 0 6rem;
    margin: 0;
    font-weight: bold;
    text-align: left;
}

.signupwords > p {
    color: white;
    font-size: 16px;
    padding: 0 3rem 3rem 6rem;
    margin: 0;
}

.button {
    background-color: #3882F6;
    margin: 0;
    padding: 3rem 0rem 3rem 14rem;
}

.button button {
    border: solid white;
    height: 50px;
    width: 150px;
}

/* copyright/footer section */

.footer {                                                       /* footer container */
    background-color: #1F2937;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.copyright {
    padding: 0.5rem;

}
